# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Gradle files
.gradle/
build/
out/

# Compiled files
*.class

# Maven build directory
target/

# Eclipse files
.settings/
.classpath
.project

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IntelliJ IDEA workspace.xml file (uncomment this line if needed)
# workspace.xml

# IntelliJ IDEA .idea/vcs.xml file (uncomment this line if needed)
# .idea/vcs.xml